@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'libre_baskerville';
    src: url('/fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
    url('/fonts/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunito_sans';
    src: url('/fonts/nunitosans-regular-webfont.woff2') format('woff2'),
    url('/fonts/nunitosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.eelv-green {
    @apply bg-eelv-green text-white md:bg-transparent md:text-union-blue;
}
.more{
    @apply p-4 text-center text-2xl text-white bg-gray-700 md:text-gray-700 md:bg-transparent italic font-serif font-light;
}
header nav li.active > a{
    @apply underline;
}
footer nav li.active > a{
    @apply font-bold;
}
#burger_menu li.active > a{
    @apply font-bold;
}
footer nav li.active > a:before {
    content: '→';
    @apply mr-1;
}
footer nav li.active > a:after {
    content: '←';
    @apply md:hidden ml-1;
}
#burger_menu li.active > a:before {
    content: '>';
    @apply mr-2;
}
#burger_menu li.active > a:after {
    content: '<';
    @apply ml-2;
}
#main a{
    @apply underline underline-offset-2 hover:text-eelv-green hover:decoration-union-blue;
}
#main img{
    @apply m-auto;
}
#main p{
    @apply my-6 px-2;
}
#main h1{
    @apply px-2 py-4 bg-union-blue text-2xl uppercase text-white font-serif md:bg-transparent md:text-union-blue mb-4;
}
#main h2{
    @apply px-2 py-4 bg-union-blue text-xl uppercase text-white font-serif md:bg-transparent md:text-union-blue mb-4;
}
#main h3{
    @apply px-2 font-serif text-2xl text-eelv-green;
}
#main ul{
    @apply px-2 list-disc pl-8 pb-3;
}
#main ol{
    @apply px-2 list-decimal pl-8 pb-3;
}
#sim a[role='button']{
    @apply bg-eelv-green block p-2 text-white font-bold text-center no-underline hover:no-underline hover:outline;
}