<!doctype html>
<html lang="{{ site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body class="bg-white text-white font-sans bg-gray-500 md:bg-white">
        <div class="min-h-screen">
            {{- partial "header.html" . -}}
            <section class="bg-white text-union-blue">
                <div class="relative max-w-7xl mx-auto pb-4 md:pt-8" id="main">
                    {{ if .Site.Params.baselinehtml }}
                        <div class="p-4 bg-union-blue text-white md:hidden">
                                {{ .Site.Params.baselinehtml }}
                        </div>
                        <hr class="md:hidden">
                    {{ end }}
                    <div class="p-4 bg-white text-union-blue md:bg-transparent md:w-1/2" id="main">
                        {{ .Content }}
                    </div>
                    <div class="bg-white block w-full md:w-1/2 lg:w-1/3 xl:w-auto xl:max-w-lg md:absolute md:-top-20 md:right-0 lg:right-8">
                        <div class="bg-union-blue text-white p-4 md:p-8 lg:p-10 mb-2 h-56" id="sim">
                            <a role="button" href="#">5 €</a>
                            <a role="button" href="#">10 €</a>
                            <a role="button" href="#">15 €</a>
                            <a role="button" href="#">20 €</a>
                            <a role="button" href="#">50 €</a>
                            <a role="button" href="#">150 €</a>
                            <a role="button" href="#">300 €</a>
                            <a role="button" href="#">500 €</a>
                            <a role="button" href="#">750 €</a>
                            <div class="w-full clear-both"></div>
                            <input class="text-black p-1 my-2" type="digit" name="ex_amount" placeholder="Montant (en euros)">
                            <br>
                            soit <strong>0 €</strong> après déduction d'impots (en euros)
                        </div>
                        <form action="/backend/formHandler.php" method="post" class="bg-union-blue text-white p-4 md:p-8 lg:p-10">
                            <input type="hidden" name="redirect_path" value="/pages/donate_merci/">
                            <input class="opacity-0 absolute block w-0 h-0 overflow-hidden" type="text" name="name" placeholder="Nom">
                            <div class="w-full text-black my-2 grid grid-cols-2 space-x-1">
                                <input class="text-black p-1" type="text" required="required" name="firstname" placeholder="Prénom">
                                <input class="text-black p-1 " type="text" required="required" name="lastname" placeholder="Nom">
                            </div>
                            <input class="w-full text-black p-1 my-2" type="email" required="required" name="mail" placeholder="mon@e-mail.fr">
                            <input class="w-full text-black p-1 my-2" type="digit" required="required" name="amount" placeholder="montant">
                            <input class="w-full text-black p-1 my-2" type="text" required="required" name="telephone" placeholder="Téléphone">
                            <input class="w-full text-black p-1 my-2" type="text" required="required" name="street" placeholder="n° et rue">
                            <div class="w-full text-black my-2 grid grid-cols-3 space-x-1">
                                <input class="text-black p-1" type="digit" required="required" name="postcode" placeholder="Code postal">
                                <input class="text-black p-1 col-span-2" type="text" required="required" name="town" placeholder="Ville">
                            </div>
                            <input class="w-full text-black p-1 my-2" type="text" required="required" name="country" placeholder="Pays">

                            <label class="w-full block cursor-pointer my-2" for="physique">
                                <input type="checkbox" id="physique" name="physique" value="on"/>
                                <div class="text-sm inline" >Je certifie sur l’honneur être une personne physique et conformément à la loi n°95-65 du 19 janvier 1995 relative au
                                financement de la vie politique, le règlement de mon don ne provient pas d’une personne morale (Société, association,
                                    société civile...) mais de mon compte bancaire personnel.</div>
                            </label>
                            <label class="w-full block cursor-pointer my-2" for="france">
                                <input type="checkbox" id="france" name="france" value="on"/>
                                <div class="text-sm inline" >Je suis de nationalité française ou je réside fiscalement en France</div>
                            </label>
                            <label class="w-full block cursor-pointer my-2" for="rgpd">
                                <input type="checkbox" id="rgpd" name="rgpd" value="on"/>
                                <div class="text-sm inline" >Je consens à ce que ce site stocke mes informations envoyées afin qu’ils puissent répondre à ma requête</div>
                            </label>
                            <div class="grid grid-cols-3">
                                <label for="check" class="cursor-pointer">
                                    <input type="radio" id="check" name="method" value="check"/> chèque
                                </label>
                                <label for="sepa" class="cursor-pointer">
                                    <input type="radio" id="sepa" name="method" value="sepa"/> virement
                                </label>
                                <label for="creditcard" class="cursor-pointer">
                                    <input type="radio" id="creditcard" name="method" value="creditcard"/> carte bancaire
                                </label>
                            </div>
                            <div>
                                <div data-depends="method" data-check-value="check">
                                    envoyer un chèque à l’ordre AFE AVEC LC - Mandataire financier de la candidate Lucie Croissant - 639 route du Guillon - 38 500 COUBLEVIE
                                </div>
                                <div data-depends="method" data-check-value="sepa">
                                    faire un virement vers l’IBAN du compte de la campagne :
                                    FR76XXXXXXXX 144 (code BIC : XXXX) en précisant comme nom du destinataire AFE AVEC LC pour Lucie Croissant
                                </div>
                                <div data-depends="method" data-check-value="creditcard">
                                    Vous serez redirigé vers le site de notre banque afin de finaliser votre paiement
                                </div>
                            </div>
                            <input type="submit" class="block uppercase text-center bg-eelv-green text-white font-black mt-6 mx-auto py-2 px-4 cursor-pointer hover:bg-white hover:text-union-blue" value="Donner" >
                        </form>
                    </div>
                </div>
            </section>
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "burger.html" . -}}
        {{- partial "commonjs.html" . -}}

        <script type="text/javascript">
            //home
            let name = d.querySelector('input[name="name"]');
            name.setAttribute('tabindex','-1');
            let radios = d.querySelectorAll('input[type="radio"]');

            radios.forEach(function (radio){
                radio.addEventListener('change',function (event){
                    let dependencies = d.querySelectorAll('[data-depends='+event.target.name+']');
                    dependencies.forEach(function (dep){
                        if (event.target.value === dep.getAttribute('data-check-value')) {
                            dep.classList.remove('hidden');
                        }else {
                            dep.classList.add('hidden');
                        }
                    })
                });
            });

            window.addEventListener('load',function (){
                d.querySelectorAll('[data-depends]').forEach(function (dependency){
                    let source = d.querySelector('input[type="radio"][name="'+dependency.getAttribute('data-depends')+'"]');
                    if (!source.checked){
                        dependency.classList.add('hidden');
                    }
                });
            })

        </script>
    </body>
</html>