<!doctype html>
<html lang="{{ site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body class="bg-white text-white font-sans bg-gray-500 md:bg-white">
        <div class="min-h-screen">
            {{- partial "header.html" . -}}
            <section class="bg-white text-union-blue">
                <div class="relative max-w-7xl mx-auto pb-4 md:pt-8" id="main">
                    {{ if .Site.Params.Baselinehtml }}
                        <div class="p-4 bg-union-blue text-white md:hidden">
                                {{ .Site.Params.Baselinehtml | markdownify }}
                        </div>
                        <hr class="md:hidden">
                    {{ end }}
                    {{- block "main" . }}{{- end }}
                </div>
            </section>
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "burger.html" . -}}
        {{- partial "commonjs.html" . -}}
    </body>
</html>