<footer class="text-gray-300 md:bg-eelv-green md:py-32">
    <div class="px-4 py-16 bg-eelv-green text-white w-full md:hidden font-serif text-center text-2xl text-white">
        &ldquo; Ensemble pour faire gagner l'<strong>écologie</strong> et la <strong>justice sociale</strong>&nbsp;&rdquo;
    </div>
    <div class="p-4 md:grid md:grid-cols-4 md:gap-2 grid-cols-1">
        <nav id="burger" class="text-center md:text-left md:pl-4 uppercase pt-4 md:mb-8">
            <ul>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li><a class="hover:underline" title="{{ .Title }}" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
        <nav class="text-center md:text-left md:pl-4 uppercase md:pt-4 mb-8">
            <ul>
                {{ $currentPage := . }}
                {{ range .Site.Menus.footer }}
                <li><a class="hover:underline" title="{{ .Title }}" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
        <div class="pr-4 pt-4">
            Les cantons de la 9ème ciconscription de l'Isère : <br>
            <ul class="font-serif italic text-sm pl-2">
                <li>Pont-en-Royans</li>
                <li>Rives</li>
                <li>Saint-Marcellin</li>
                <li>Tullins</li>
                <li>Vinay</li>
                <li>Voiron</li>
            </ul>
        </div>
        <img src="/img/circo.svg" alt="9eme ciconscription Isère" class="w-2/3 mx-auto">
    </div>
    <div class="w-full text-xs text-center text-gray-300 mt-8">Crédit photos : <br> micro &copy; Mathieu Berenger
        <br>de groupe &copy; pierre.delva@foyer-image.com</div>
</footer>